* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-areas:
    'title'
    'cards';
  width: 80%;
  margin: 0 auto;
}

.title {
  grid-area: title;
}

.cards {
  grid-area: cards;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 20px;
}

@media screen and (min-width: 769px) {
  .main {
    width: 70%;
    grid-template-areas:
      'title cards';
    grid-template-columns: 1fr 2fr;
  }
}